*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content:space-around;
    background-color: #1A0B2E;
}

.navlogo{
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 200px; */
}

ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-top: 37px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.btn{
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 24px;
    background: linear-gradient(to top right, rgb(236, 236, 75),rgb(227, 155, 20),rgb(201, 75, 144),rgb(115, 9, 115));
    cursor: pointer;
}

.banner{
    height: 794px;
    /* border: 2px solid red; */
}

.hero img{
    max-width: 1600px;
    height: 794px;
}


.banner-img1{
    display: flex;
    flex-direction: column;
    margin-top: -669px;
    gap: 40px;
}

.banner-img1 img{
    width: 350px;
    height: 350px;
    margin-left: 625px;
}


.banner-content{
    text-align: center;
}

.banner-content h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn1{
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(to top right, rgb(236, 236, 75),rgb(227, 155, 20),rgb(201, 75, 144),rgb(115, 9, 115));
    cursor: pointer;
}

.btn2{
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
}

.about{
    width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
    text-align: center;
    /* border: 2px solid red; */
}

.about h1{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 50px;
    margin-bottom: 16px;
}

.about p{
    width: 50%;
    max-width: 1200px;
    height: 148px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: auto;
}

hr{
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
 
}

.about-container h1{
    font-size: 48px;
    color: #00FF88;
    font-weight:900;
}

.about-container h4{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}

.choose{
    height: 1121px;
    width: 1600px;
    background-color: #230E3D;
}

.feature{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    /* border: 2px solid red; */
}

.feature h1, .choose h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
}

.footer{
    height: 412px;
}

.footer-img1{
    height: 412px;
    margin-top: -240px;
}


.footer-img1 img{
    width: 410px;
    height: 60px;
    margin-left: 575px;
}



.foot{
    display: flex;
    justify-content: space-between;
    width: 544px;
    height: 24px;
    margin-top: -240px;
    text-align: center;
}

.foot img{
    width: 24px;
    height: 24px;
    margin-left: 408px;
}

.foot p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.copyright{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 32px;
}
